.add-result-form {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  &-controls {
    display: flex;
    justify-content: space-between;

    input {
      background-color: #2a5fc9;
      border: 0;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-family: 'Roboto';
      font-size: 18px;
      min-width: 100px;
      outline: 0;
      padding: 8px 12px;
      text-align: center;
    }
  }

  &-inputs {
    display: flex;
    flex-direction: column;
  }
}