.loading-icon {
  animation: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: block;
  height: 50px;
  margin: 0 auto 10px;
  position: relative;
  width: 50px;

  &-circle {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 3;
  }

  &-indicator {
    fill: none;
    stroke: #2a5fc9;
    stroke-dasharray: 0 106 31 5;
    stroke-width: 3;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
