.update-user-form {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;

  &-controls {
    display: flex;
    justify-content: space-between;
  }

  &-inputs {
    display: flex;
    flex-direction: column;
  }
}
