.users {
  display: flex;
  justify-content: center;
  padding: 36px 20px 0px;

  &-loading, &-error {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 36px 20px 0px;

    &-text {
      font-family: 'Roboto';
      font-size: 18px;
    }
  }
}
