.app-header {
  align-items: center;
  background-color: #E8E8E8;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;

  &-text {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
  }

  &-button {
    margin-left: 12px;
  }
}
