.app-header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #E8E8E8;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;

  &-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
  }

  &-button {
    cursor: pointer;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
      padding: 8px 18px;
      margin-left: 12px;
      border-radius: 8px;
      border: 2px solid blue;
      color: blue;
  }
}