.result-table-row {
  display: flex;
  border-radius: 8px;
  cursor: pointer;

  &-cell {
    font-family: 'Roboto';
    padding: 12px 24px;
    text-align: left;
    width: 205px;
  }

  &:hover {
    background-color: #2a5fc980;
  }
}
