.user-table-row {
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  
  &-cell {
    font-family: 'Roboto';
    padding: 12px 24px;
    width: 205px;
  }

  &:hover {
    background-color: #2a5fc980;
  }
}
