.user-table-row {
  display: flex;
  cursor: pointer;
  border-radius: 8px;

  &-cell {
    width: 205px;
    padding: 12px 24px;
    font-family: 'Roboto';
  }

  &:hover {
    background-color: #2a5fc9;
    color: #fff;
  }


}
